[Unit]
Description=Luffy Vehicle Control System
After=network.target

[Service]
Type=simple
User=luffy
Group=luffy
ExecStart=/usr/bin/luffy
Restart=always
WorkingDirectory=/etc/luffy
Environment="AWS_SHARED_CREDENTIALS_FILE=≈/etc/luffy/.aws/credentials"

[Install]
WantedBy=multi-user.target
